body {
	background: white;
}

div.container {
	width: 2480 px;
	padding: 150px;
	padding-right: 50px;
	padding-left: 50px;
	box-shadow: 0 0 2px #cccccc;
}

div.columns-container {
	background-color: #ecf0f1;
	border: 2px solid #34495e;
}

div.column1 {
	width: 900px;
	border: 2px solid #34495e;
}
div.column2 {
	min-width: 500px;
	border: 2px solid #34495e;
	margin-left: 900px;
}

/* Класс псевдораспорки */
div.clearfix::after {
	clear: both;
	content: "";
	display: table;
  }

div.circle {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

div.circle_round {
	width: 465px;
  height: 465px;
	border: #336699 2px solid;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
}

div.circle_blue {
	margin: 30px;
	width: 405px;
	height: 405px;
	border-radius: 50%;
	background: #336699;
}

div.float_right {
	float: right;
}

div.float_left {
	float: left;
}

div.bold{
	font-weight: bold;
}

div.name_here{
	text-align: center;
}

p.text_name_here{
	font-size: 90px; 
}

p.surname{
	font-size: 110px;
	font-weight: bold;
}

p.graphic_designer{
	font-size: 30px;
	font-weight: bold;
}

div.profile_icon {
	background-image: url("images/profile_icon.png");
	background-repeat: no-repeat;
	width: 160px;
	height: 150px;
}

div.profile_procherk{
	width: 190px;
	background: #006cb4;
	height: 4px;
	margin-left: 10px;
	margin-top: 30px;
	display: flex;
}

p.text_profile{
	color: #006cb4;
	font-size: 70px;
}

div.education {
  display: inline-block;
  vertical-align: middle;
  background: #9F9;}


div.text_education{
	color: #006cb4;
	font-size: 70px;
}

div.procherc_education{
	width: 190px;
	position: absolute;
	top: 50%;
	background: #336699;
	/*margin-top: 20px;*/
	/*vertical-align: middle;*/
}




